* {
  margin: 0;
  padding: 0;
}
body {
  background-color: teal;
}
h1 {
  color: white;
  text-align: center;
}

header {
  background-color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color: white;
}
header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header ul li a {
  text-decoration: none;
  color: #fdf;
  cursor: pointer;
  font-size: 2rem;
}
header ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}
